repositories:
  - name: portainer
    url: https://portainer.github.io/k8s/  # Portainer 官方 Helm 仓库
---
releases:
  - name: portainer
    chart: portainer/portainer
    version: 2.33.1
    namespace: portainer
    labels:
      app: portainer
    values:
      - ../../values/applications/portainer/portainer-values.yaml